.envrc
*.bak
build
.coverage
.coverage.xml
*.db
dist
*.egg-info
examgenerator/shuffle_templates.py
ExamTemplate.db
*full*
.hypothesis
.idea
.mutmut-cache
*.pyc
*.pyd
release
*.spec
*.sql
tests/test_shuffle_templates.py
.tox
venv
.vscode
